<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Show Feed</title>
</head>
<body>
Zeig den Instafeed
<div class="container-fluid">
    <div class="row">
        <f:for each="{entries}" as="entry">
            <div class="col-xs-12 col-md-4" style="padding: 0;">
                    <f:link.external uri="{entry.link}" target="_blank">
                    <img src="{entry.thumbnailSrc}" class="card-img-top"/>
                    </f:link.external>
                <div  style="background: #efefef; padding: 10px 0 10px 10px; color: #333;">
                        <strong>Likes {entry.likes} / Comments {entry.comments}</strong>
                        <!--<p class="card-text">{entry.caption}</p>-->
                </div>
            </div>
    </f:for>
</div>
</div>
</body>
</html>


